body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Aumentado de 500px a 600px */
    width: 100%; /* Para asegurarte de que el contenedor no se ajuste automáticamente en pantallas más pequeñas */
}


h1 {
    color: #343a40;
    margin-bottom: 30px; /* Más espacio debajo del título */
}

p {
    font-size: 1.2em;
    color: #495057;
    margin-bottom: 20px; /* Más espacio debajo de los párrafos */
}


button {
    padding: 12px 30px;
    font-size: 1em;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px; /* Un poco más de margen superior */
    width: 100%; /* Ocupar todo el ancho disponible en pantallas pequeñas */
    max-width: 300px; /* No exceder este tamaño en pantallas grandes */
}


button:hover {
    background-color: #0056b3;
}

#surprise {
    margin-top: 30px;
    animation: fadeIn 2s ease-in-out;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

img {
    max-width: 80%; /* Limitar el tamaño de las imágenes al 80% del ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    border-radius: 10px;
    margin-top: 20px;
}

